header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .titulo {
  margin-left: 5vw;
  font-size: 3.6rem;
  font-weight: bold;
}

main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.arte {
  width: 100vw;
  height: 97vh;
  position: fixed;
  top: 3vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .formulario {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.formulario form {
  width: 45rem;
  height: 37rem;
  margin-top: 7rem;
  padding-top: 2rem;
  background-color: #EAEAEA;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario .input-unidade {
  width: 40rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
}

.formulario .input-unidade label {
  font-size: 2.2rem;
  color: #424242;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.formulario .input-unidade input {
  height: 5rem;
  font-size: 2.2rem;
  color: #424242;
  border: 0.2rem solid #D9D9D9;
  border-radius: 0.5rem;
  padding: 1rem;
}

.formulario input:focus {
  outline: none;
}

.formulario input[type="submit"] {
  width: 22.5rem;
  height: 5.5rem;
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
  color: #FFFFFF;
  background-color: #0FCE50;
  outline: none;
  cursor: pointer;
}

div[class="sign-in"] {
  width: 45rem;
  height: 8rem;
  margin-top: 5vh;
  font-size: 2.2rem;
  font-weight: bold;
  color: #424242;
  background-color: #EAEAEA;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div[class="sign-in"] a {
  text-decoration: none;
  color: #0FCE50;
}

#logo {
  height: 15vh;
  top: 3vh;
  left: 43vw;
}

#poligono-design-1 {
  position: fixed;
  left: 0;
  bottom: 0;
}

#poligono-design-2 {
  position: fixed;
  left: 0;
  bottom: 0;
}