header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}

header .titulo {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .4rem;
}

header .menu {
  width: 25rem;
  list-style-type: none;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li a {
  text-decoration: none;
  color: black;
  transition: 0.24s;
  padding: .6rem 2rem;
  border-radius: .3rem;
}

.menu li a:hover {
  background-color: #eaeaea;
}

#sign-up {
  color: #0FCE50;
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
}

main .arte {
  width: 50vw;
  height: 90vh;
}

.arte img {
  position: fixed;
  z-index: -1;
}

#logo {
  height: 25vh;
  margin-left: 8rem;
}


#poligono-design-1 {
  height: 50rem;
}

#poligono-design-2 {
  height: 30rem;
}

main .formulario {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formulario form {
  width: 45rem;
  height: 40rem;
  padding-top: 5rem;
  margin: 5vh 10vw 1vh 2vw;
  background-color: #EAEAEA;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario .input-unidade {
  width: 40rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
}

.formulario .input-unidade label {
  font-size: 2.2rem;
  color: #424242;
  font-weight: 600;
  margin-bottom: 0.4rem;
}  

.formulario .input-unidade input {
  height: 5rem;
  font-size: 2rem;
  color: #424242;
  border: 0.2rem solid #D9D9D9;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: .2s;
}
.formulario input:hover {
  border: 0.3rem solid #3841bb7e;
}
.formulario input:focus {
  outline: none;
  border: 0.3rem solid #3741cea2;
}

.formulario input[type="submit"] {
  width: 22.5rem;
  height: 5.5rem;
  margin-top: 3rem;
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: .8rem;
  border: none;
  color: #FFFFFF;
  background-color: #0FCE50;
  transition: .2s;
  cursor: pointer;
}
.formulario input[type="submit"]:hover {
  background-color: #13b94a;
  /* box-shadow: .8rem .6rem  #32e26d; */
}

div.sign-up {
  width: 45rem;
  height: 8rem;
  margin: 1vh 10vw 2vh 2vw;
  font-size: 2.2rem;
  font-weight: 600;
  color: #424242;
  background-color: #EAEAEA;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

div.sign-up:hover {
  box-shadow: .3rem .3rem .6em rgb(155, 155, 155);
}

div[class="sign-up"] a {
  text-decoration: none;
  color: #0FCE50;
  
}

#logo {
  width: 30vw;
  top: 25vh;
  left: 15vw;
}

#poligono-design-1 {
  left: 0;
  bottom: 0;
}

#poligono-design-2 {
  left: 0;
  bottom: 0;
}