header {
  width: 100vw;
  height: 10vh;
  background-color: #0FCE50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw 0 5vw;
}

header .titulo {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: .4rem;
  color: #FFFFFF;
}

header button {
  font-size: 2.4rem;
  color: #FFFFFF;
  background-color: transparent;
  padding: 0.5rem 2.4rem;
  margin-left: .6rem;
  border-radius: .4rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .24s;
}

header button:hover {
  background-color: #13b94a;
}

main {
  width: 100vw;
  height: 90vh;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.controle-background {
  width: 80vw;
  height: 15vh;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.controle {
  width: 80vw;
  height: 6rem;
  padding: 0 2vw;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controle img {
  width: 5rem;
  cursor: pointer;
}

.controle #nome-quadro-controle {
  font-size: 3.6rem;
  font-weight: 600;
  color: #424242;
}

.controle #umidade-ideal-controle {
  font-size: 2.4rem;
  font-weight: 600;
  color: #959595;
}

.controle #umidade-ideal-controle span {
  color: #2F41E1;
}

.controle #botoes-controle {
  width: 25rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#botoes-controle button {
  width: 12rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #959595;
  padding: 0.4rem;
  background-color: transparent;
  border: none;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  cursor: pointer;
}

#botoes-controle button:hover {
  background-color: #fafafa;
}

#botoes-controle img {
  height: 2.4rem;
}

/* #botoes-control # */

.painel {
  width: 80vw;
  height: calc(75vh - (7.5vh - 3rem));
  display: flex;
  margin-top: 15vh;
}

#mapa-container {
  width: 40vw;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

#map {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: .2rem;
}

#sensores {
  width: 40vw;
  height: 100%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 18vw 18vw;
  gap: 1vw;
  overflow-y: scroll;
}

.sensor-card {
  width: 18vw;
  height: 45vh;
  border-radius: 0.5rem;
  background-color: white;
  color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sensor-identificador {
  font-size: 2.4rem;
  font-weight: 600;
}

.sensor-porcentagem-container {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sensor-porcentagem {
  font-size: 4.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensor-porcentagem span {
  font-size: 1.8rem;
  color: black;
}

.sensor-porcentagem img {
  width: 5rem;
}

.sensor-status {
  font-size: 2.4rem;
  font-weight: 600;
}

.teor-umidade-bom {
  border: 1rem solid blue;
}

.teor-umidade-seco {
  border: 1rem solid #EEF222;
}

.teor-umidade-encharcado {
  border: 1rem solid #FF0000;
}

/*.background-modal {
  width: 100vw;
  height: 100vh;
  background-color: #00000047;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.modal {
  width: 60vw;
  border-radius: 0.5rem;
  background-color: #EAEAEA;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fechar {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.nome-modal {
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 3.4rem;
  font-weight: 600;
}

#novo-quadro-terra {
  padding: 1rem 0 1rem 0;
  max-height: 95vh;
  overflow-y: scroll;
}

#novo-quadro-terra .nome-quadro-bloco {
  width: 45vw;
  height: 4rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #C9C9C9;
  background-color: white;
  display: flex;
  align-items: center;
}

#novo-quadro-terra .nome-quadro-bloco label {
  width: 10rem;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 0.3rem solid #C9C9C9;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#novo-quadro-terra .nome-quadro-bloco input {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  color: #161616;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  outline: none;
  font-size: 2.4rem;
}

#novo-quadro-terra .nome-quadro-bloco input::placeholder {
  color: #424242;
}

#novo-quadro-terra .mapa-bloco {
  width: 45vw;
  height: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#novo-quadro-terra .mapa-bloco label {
  width: 40vw;
  font-size: 1.8rem;
  padding: 0.5rem 0 0.5rem 0;
}

#map {
  width: 40vw;
  height: 25rem;
  z-index: 20;
}

.input-pequeno {
  width: 45vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagem-quadro-bloco label {
  width: 22vw;
  height: 7rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 2.5vw 0 2.5vw;
  cursor: pointer;
}

.imagem-quadro-bloco span {
  margin-left: 3rem;
  font-size: 1.4rem;
}

.imagem-quadro-bloco img {
  width: 5rem;
  height: 5rem;
}

.imagem-quadro-bloco input {
  display: none;
}

.umidade-ideal-bloco {
  width: 22vw;
  height: 7rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0 2.5vw 0 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.umidade-ideal-bloco label {
  margin-bottom: 1rem;
}

#valor-umidade-ideal {
  color: #0077ff;
}

.umidade-ideal-bloco input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background-color: #0077ff;
  outline: none;
}

.umidade-ideal-bloco input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: white;
  border: 0.2rem solid #0077ff;
}

.umidade-ideal-bloco input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  border: 0.2rem solid #0077ff;
}

.modal input[type="submit"] {
  width: 22.5rem;
  height: 5.5rem;
  margin: 2rem 0 1rem 0;
  font-size: 2.4rem;
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
  color: #FFFFFF;
  background-color: #0FCE50;
  outline: none;
  cursor: pointer;
}

.mostrar {
  display: flex;
}*/